/*
0. Color Palette  ------------------- All Files
1. Reset ---------------------------- All Files
2. Header Styles -------------------- 
3. Body Styles ---------------------- 
4. Sidebar Styles ------------------- 
5. footer styles -------------------- 
6. comments & form styles ----------- 
7. Navigation -----------------------
*/

/* 
1.0 Color Palette
Coolors Exported Palette - https://coolors.co/230007-d7cf07-d98324-a40606-5a0002
*/

$color1: rgba(35, 0, 7, 1);
$color2: rgba(215, 207, 7, 1);
$color3: rgba(217, 131, 36, 1);
$color4: rgba(164, 6, 6, 1);
$color5: rgba(90, 0, 2, 1);
/* color assignments */

$header-background: $color1;
$header-color: $color4;
$footer-background: $color2;
$body-background: $color3;
$body-color: $color1;
$footer-background: $color2;
$footer-color: $color4;
$white: white;

/* 1. Reset */
@import './meyer_reset';

/* 2. Header Styles */
.header {
  background-color: $header-background;
  color: $header-color;
  a {
    text-decoration: none;
  }  
  a:visited {
    color: $header-color;
  
  }
}

/* 3. Body Styles */
body {
  background-color: $body-background;
  color: $body-color;
  font-family: 'Roboto', sans-serif; // https://fonts.google.com/specimen/Roboto
}



.content {
  margin: 10% 10%;
  h1 {
    font-size: 2em;
    margin: .8em 0;
  }
  h2 {
    font-size: 1.6em;
    margin: 1.6em 0em .2em 0em;
  }

  p {
    padding: .5em 0em;
  }
}

/* 5. footer styles */
.footer {
  a {
    text-decoration: none;  
  }
  background-color: $footer-background;
  color: $footer-color;
  a:visited {
    color: $footer-color;

  }
}

/* 7. Navigation */
.nav {
  ul {
    padding: 20px 20px;

    li {
      display: inline;
      margin-inline: 25px, 0, 15px, 0;
      margin-right: 1.6em;
      font-size: 16pt;
    }
  }
}